/* -------------------------------------------- */
/* INITIAL SETUP */
/* -------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: #3d3d3d;
  font-family: 'Rajdhani', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* -------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*----SECTIONS-----*/
section {
  padding: 80px 0;
}
/*-----------HEADINGS-------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  font-size: 300%;
  letter-spacing: 4px;
}
h2 {
  text-align: center;
  word-spacing: 4px;
  font-size: 220%;
  margin-bottom: 20px;
}

h3 {
  font-size: 150%;
}
h2:after {
  display: block;
  width: 200px;
  height: 2.5px;
  margin: 0 auto;
  background-color: #447bbe;
  content: ' ';
  margin-top: 20px;
}
/*-----------PARAGRAPH-------------*/
p {
  line-height: 160%;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-size: 90%;
}
.short-desc {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
/*----BUTTONS----*/
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #447bbe;
  border: 1px solid #447bbe;
  border-radius: 15px;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #3a6ba6;
  color: #ffffff;
  border: 1px solid #3a6ba6;
}
/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(imgInCss/spiderbackground.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.spiderlogo {
  height: 130px;
  width: auto;
  margin-top: 25px;
  float: left;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main-nav li {
  display: inline-block;
  margin-left: 35px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 0px 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;

  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: border-left 0.3s, border-right 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-left: 2px solid #447bbe;
  border-right: 2px solid #447bbe;
}

.spiderman-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -57%);
  height: 90%;
  width: auto;
}

.text-part-header {
  width: 90%;
  margin-top: 38%;
}
.text-part-header h1 {
  color: #ffffff;
  vertical-align: middle;
  margin-bottom: 10px;
}
.text-part-header p {
  color: #d1d1d1;
  font-weight: 500;
  text-align: left;
  width: 90%;
}

/* -------------------------------------------- */
/* COMICS SECTION */
/* -------------------------------------------- */
.section-comics {
  background-color: #e8eff7;
}
.comic-row {
  margin-top: 70px;
}
.comic-row img {
  height: auto;
  width: 50%;
  margin-right: 50px;
}
.img-cont {
  text-align: right;
}
.text-cont {
  padding: 0 2%;
  text-align: justify;
}
.text-cont h3,
.text-cont h3 + p {
  text-align: center;
}
.text-cont h3 + p {
  font-weight: 500;
}

/* .text-cont p:first-child {
}

.text-cont p {
  width: 70%;
} */
