/* -------------------------------------------- */
/* INITIAL SETUP */
/* -------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html,
body {
  background-color: #ffffff;
  color: #3d3d3d;
  font-family: 'Rajdhani', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* -------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------- */
.hidden {
  visibility: hidden;
  opacity: 0;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*----SECTIONS-----*/
section {
  padding: 80px 0;
}
/*-----------HEADINGS-------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  font-size: 300%;
  letter-spacing: 4px;
}
h2 {
  text-align: center;
  word-spacing: 4px;
  font-size: 220%;
  margin-bottom: 20px;
}

h3 {
  font-size: 150%;
}
h2:after {
  display: block;
  width: 200px;
  height: 2.5px;
  margin: 0 auto;
  background-color: #447bbe;
  content: ' ';
  margin-top: 20px;
}
/*-----------PARAGRAPH-------------*/
p {
  line-height: 160%;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-size: 90%;
}
.short-desc {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
/*----BUTTONS----*/
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 30px;
  color: #447bbe;
  border: 1px solid #447bbe;
  border-radius: 15px;
  -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #3a6ba6;
  color: #ffffff;
  border: 1px solid #3a6ba6;
}
/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0, 0.7)),
      to(rgb(0, 0, 0, 0.7))
    ),
    url(imgInCss/background-2.jpg);
  background-image: -o-linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(imgInCss/background-2.jpg);
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(imgInCss/background-2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}
.spiderlogo {
  height: 130px;
  margin-top: 25px;
  float: left;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main-nav li {
  display: inline-block;
  margin-left: 35px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 0px 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;

  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transition: border-left 0.3s, border-right 0.3s;
  -o-transition: border-left 0.3s, border-right 0.3s;
  transition: border-left 0.3s, border-right 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-left: 2px solid #447bbe;
  border-right: 2px solid #447bbe;
}

.spiderman-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-110%, -57%);
  -ms-transform: translate(-110%, -57%);
  transform: translate(-110%, -57%);
  height: 90%;
  width: auto;
}

.text-part-header {
  width: 90%;
  margin-top: 38%;
}
.text-part-header h1 {
  color: #ffffff;
  /* vertical-align: middle; */
  margin-bottom: 10px;
}
.text-part-header p {
  color: #d1d1d1;
  font-weight: 500;
  text-align: left;
  width: 90%;
}

/* -------------------------------------------- */
/* COMICS SECTION */
/* -------------------------------------------- */
.section-comics {
  background-color: #e8eff7;
}
.comic-row {
  margin-top: 70px;
}
.comic-row img {
  height: auto;
  width: 50%;
  margin-right: 60px;
}
.img-cont {
  text-align: right;
}
.text-cont {
  padding: 0 2%;
  text-align: justify;
}
.text-cont h3,
.text-cont h3 + p {
  text-align: center;
}
.text-cont h3 + p {
  font-weight: 500;
}
.blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

/* -------------------------------------------- */
/* Series SECTION */
/* -------------------------------------------- */

.section-series {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(0, 0, 0, 0.55)),
      to(rgb(0, 0, 0, 0.59))
    ),
    url(imgInCss/series-background.jpg);
  background-image: -o-linear-gradient(rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0.59)),
    url(imgInCss/series-background.jpg);
  background-image: linear-gradient(rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0.59)),
    url(imgInCss/series-background.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.heading-series {
  color: #ebebeb;
}

.series-picture {
  margin-top: 20px;
  width: 60%;
  margin-left: 20%;
  border-radius: 15px;
}
.series-title {
  font-size: 185%;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  color: #ebebeb;
}

.slider__button {
  margin: -50px 120px 0 120px;
  border-radius: 30%;
  border: 0;
  color: #ffffff;
  background-color: #447bbe;
  border: 1px solid #3a6ba6;
  font-size: 120%;
  padding: 10px 15px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}
.slider__button--right {
  float: right;
}
.slider__button--left {
  float: left;
}

.slider__button:hover {
  background-color: transparent;
  color: #e9e9e9;
}

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */

footer {
  padding: 80px 0;
  background-color: #3f3f3f;
}
.copyright-text {
  text-align: center;
  margin-top: 40px;
  color: #adadad;
}
.footer__info {
  text-align: center;
  list-style: none;
}
.footer__info--list {
  display: inline-block;
  padding: 0 20px;
}
.footer__info--link {
  color: #adadad;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.footer__info--link:hover,
.footer__info--link:active {
  color: #ffffff;
}
/* .text-cont p:first-child {
}

.text-cont p {
  width: 70%;
} */

/*-----SPINNER-----*/
.loader {
  font-size: 10px;
  margin: 75px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #447bbe;
  background: -o-linear-gradient(left, #447bbe 10%, rgba(68, 123, 190, 0) 42%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(10%, #447bbe),
    color-stop(42%, rgba(68, 123, 190, 0))
  );
  background: linear-gradient(to right, #447bbe 10%, rgba(68, 123, 190, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #447bbe;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
